* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}
body {
  max-width: 400px;
  background-color: #141414;
}

img {
  width: 400px;
  position: absolute;
  left: -10px;
  top: -165px;
}
.main {
  position: absolute;
  top: 140px;
}
.logo {
  position: relative;
  min-height: 323px;
  width: 100%;
  overflow: hidden;
}

#result{
  position: absolute;
  top: 76px;
  padding: 10px 20px;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #f06305;
  border-radius: 5px;
  background: #2b282800;
}

.all {
  background-image: url("images/tekstura-perya-chernye-6617.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  border-radius: 10px;
  min-height: 355px;
  width: 400px;
}
textarea {
  width: 370px;
  height: 150px;
  border-radius: 10px;
  resize: none;
  padding: 15px;
  font-size: 18px;
  background-color: #6363639e;
  color: white;
}
::-webkit-input-placeholder {
  color: white;
}
::-moz-placeholder {
  color: white;
}
:-ms-input-placeholder {
  color: white;
}
::-ms-input-placeholder {
  color: white;
}
::placeholder {
  color: white;
}
button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #f06305;
  border-radius: 5px;
  background: #2b28289e;
  cursor: pointer;
}
