* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  background-color: black;
  /* color: white; */
}
:root {
  --break-col: #f06305;
}
/* Start Global Rules */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */

@media (min-width: 550px) {
  .container {
    width: 500px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 800px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 900px;
  }
}
/* End Global Rules */
/* start right */
.right {
  position: relative;
}

/* start main */
.main {
  /* height: 1000px; */
  padding-bottom: 90px;
  padding-top: 40px;
  font-size: 21px;
  color: white;
}
/* end main */

/* start top */
.top {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  top: 0;
  background: #212121;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}
.top h1 {
  color: var(--break-col);
}
@media (max-width: 440px) {
  .top h1 {
    font-size: 21px;
  }
}
.top .share .box {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--break-col);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bottom {
  position: fixed;
  left: 0px;
  top: 640px;
  padding: 12px 0 10px;
  right: 0px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 75px; */
}
.bottom form textarea {
  width: 100%;
  border-radius: 10px;
  border: none;
  padding: 18px 10px 7px 10px;
  resize: none;
}
.form {
  width: 70%;
  position: relative;
}
.bottom form {
  margin: 5px 0;
}
@media (max-width: 770px) {
  .bottom .form {
    width: 80%;
  }
  .bottom .text p {
    font-size: 11px;
  }
}
.bottom .arrow {
  position: absolute;
  color: black;
  background: var(--break-col);
  height: 40px;
  right: 5px;
  bottom: 15px;
  width: 40px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  align-items: center;
  cursor: pointer;
}
/* end top */
/* end right */
/* 
const url = 'https://top9.p.rapidapi.com/classify';
    const options = {
        method: 'POST',
        headers: {
            'content-type': 'application/json',
            'X-RapidAPI-Key': 'e6332296a5msh157cb1e6e200cfdp145336jsn914f220362a4',
            'X-RapidAPI-Host': 'top9.p.rapidapi.com'
        },
        body: JSON.stringify({"text": selectedText})
    };

    (async () => {  
        try {
            const response = await fetch(url, options);
            const result = await response.json();
            document.getElementById('result').textContent = result.prediction;
        } catch (error) {
            console.error(error);
        }
    })();


*/
.user-news-item {
  padding: 10px 0;
}
.fake {
  color: red;
  text-align: right;
}
.true {
  color: green;
  text-align: right;
}
